@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ebgaramond: var(--font-eb-garamond);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* sidebar  */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-secondary-button: var(--secondary-button);
  --color-secondary-background: var(--secondary-background);
  --color-foreground-subtitle: var(--foreground-subtitle);
  --color-button-foreground: var(--button-foreground);

  --color-bg-border: var(--bg-border);
}

:root {
  --radius: 0.625rem;

  --background: #fefefe;
  --foreground: #202020;
  --foreground-subtitle: #677489;
  --button-foreground: #005e83;

  /* --secondary-background: #f8fafb; */
  --secondary-background: #f6f6f6;
  --secondary-foreground: #202020;

  --card: #f7f7f7;
  --card-foreground: oklch(0.145 0 0);

  --popover: #f7f7f7;
  --popover-foreground: #202020;

  --primary: #005e83;
  --primary-foreground: #ffffff;

  --secondary: #f7f7f7;
  --secondary-foreground: #202020;

  --muted: oklch(0.97 0 0);
  --muted-foreground: #858d9d;

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: #d2d2d2;
  /* --bg-border: #f6f6f6; */
  --bg-border: #eceff3;

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: #f7f7f7;
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --secondary-button: #e8e8e8;
  /* --landing */
  --fade-end-color: #ffffff;

  /* custom font */
  --font-geist-sans: Inter, sans-serif;
}

.dark {
  /* --background: #0b0e18; */
  --background: #080d17;
  --foreground: #ffffff;
  --foreground-subtitle: #677489;
  --button-foreground: #ffffff;

  --secondary-background: #0e1526;
  --secondary-foreground: #ffffff;

  --card: #0f1321;
  --card-foreground: oklch(0.985 0 0);

  --popover: #0f1321;
  --popover-foreground: #f6f6f6;

  --primary: #005e83;
  --primary-foreground: #ffffff;

  --secondary: #0f1321;
  --secondary-foreground: #f6f6f6;

  --muted: oklch(0.269 0 0);
  --muted-foreground: #858d9d;

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: #393e55;
  --bg-border: #1b2130;

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: #0f1321;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --secondary-button: #020617;
  --fade-end-color: #0d111c;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-white;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 30s linear infinite;
}

@layer utilities {
  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateY(-0.25rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-slide-in {
    animation: fadeSlideIn 0.1s ease-in 0.2s both;
  }
}

.font-bubbleGum {
  font-family: var(--font-bubbleGum), sans-serif;
}

.fade-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px; /* adjust based on how much fade you want */
  background: linear-gradient(
    to bottom,
    transparent,
    var(--fade-end-color)
  ); /* match your background color */
  pointer-events: none;
  z-index: 10;
}

.fade-bottom-light::after {
  background: linear-gradient(to bottom, transparent, #ffffff);
}

.fade-bottom-dark::after {
  background: linear-gradient(to bottom, transparent, #0d111c);
}


@layer utilities {
  @keyframes typing-dot-bounce {
    0%, 40% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-0.25rem); /* 4px bounce */
    }
  }

  .animate-typing-dot-bounce {
    animation: typing-dot-bounce 1.25s ease-out infinite;
  }
}